/* General Styling */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff; /* White background for container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    margin-top: 20px;
}

.results-container {
    background-color: #f9f9f9; /* Light gray background for results container */
}

h1, h2 {
    text-align: center;
    color: #333; /* Dark gray text color */
}

form {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #007bff; /* Blue button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.graph-item {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
}

.metrics-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.metrics-table th, .metrics-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
